<div style="max-width: 22rem">
  <form [formGroup]="fileInputForm">
    <bao-file-input
      formControlName="fileList"
      label="Formulaire de déclaration"
      required="true"
      (uploadedFile)="onUploadedFile($event)"
    >
      <bao-guiding-text
        >Les documents .pdf, .docx, .png sont acceptés</bao-guiding-text
      >
      @if (fileList.value.length) {
        <ul>
          @for (
            uploadedFile of fileList.value;
            track uploadedFile;
            let i = $index
          ) {
            <li bao-file-preview [file]="uploadedFile">
              <button
                bao-button
                type="editorial"
                level="tertiary"
                size="medium"
                (click)="onDelete(i)"
              >
                <bao-icon svgIcon="icon-trash"></bao-icon>
              </button>
            </li>
          }
        </ul>
      }
      @if (fileList.dirty && fileList.errors?.['required']) {
        <bao-error> Un formulaire doit être sélectionné </bao-error>
      }
    </bao-file-input>
    <button
      bao-button
      type="button"
      displayType="utility"
      level="primary"
      [disabled]="!fileInputForm.valid"
      style="margin-top: 1.5rem"
      (click)="onSubmitButtonClick()"
    >
      Soumettre
    </button>
  </form>
  @if (lastUploadedFiles) {
    <div style="margin-top: 1rem">
      Derniers fichiers téléversés :
      @for (file of lastUploadedFiles; track file) {
        <p style="font-weight: bold; margin-bottom: 0">
          {{ file }}
        </p>
      }
    </div>
  }
</div>
