#docs-root a {
  color: #097d6c;
  border: 0;
  font-weight: 700
}

/* TASKBOX APP  */

.bao-list-item-content .actions {
  transition: all 200ms ease-in;
  padding-right: 20px;
  position: absolute;
}
.bao-list-item-content .actions a, .actions a  {
  position: relative;
  left: 900px;
  top: 10px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color: #eee;
}

.bao-list-item-content .actions .bao-icon {
  font-size: 16px;
  line-height: 24px;
  line-height: 3rem;
  text-align: center;
}
.bao-list-item-content .bao-icon {
  color: #a6a9a871;
}
.bao-list-item-content a.PIN_TASK .bao-icon {
  color: #2cc5d2;
}

.bao-checkbox, .bao-list-item-text, .bao-checkbox label.bao-checkbox-content-container:after, .bao-list-item-title  {
  cursor: pointer;
}
.bao-list-item-content + .bao-list-item-content {
  border-top: 1px solid #f0f9fb;
}
/* TASKBOX APP END */