<h5>This is a preview component. See stories below for actual usage.</h5>
<div
  class="toast show"
  [ngClass]="'toast-' + toastType"
  aria-live="polite"
  aria-atomic="true"
>
  <div class="toast-icon">
    <span class="icon" [ngClass]="toastIcon" aria-hidden="true"></span>
  </div>
  <div class="toast-body">{{ message }}</div>
  <div class="toast-action">
    @if (hasAction) {
    <div>
      <button
        bao-button
        role="button"
        type="utility"
        level="tertiary"
        [reversed]="true"
      >
        @if (isActionIcon) {
        <bao-icon
          [svgIcon]="actionLabelOrIcon"
          [title]="actionLabelOrIcon"
        ></bao-icon>
        } @else {
        <span>{{ actionLabelOrIcon }}</span>
        }
      </button>
    </div>
    } @if (showClose) {
    <div>
      <button
        bao-button
        role="button"
        type="utility"
        level="tertiary"
        [reversed]="true"
      >
        <bao-icon svgIcon="icon-x" title="Fermer le message"></bao-icon>
      </button>
    </div>
    }
  </div>
</div>
